<div id="conteiner_bloc_frame">

  <div class="bloc_centr">
    <div class='s-video'>
      <div id="ytapiplayer">
        You need Flash player 8+ and JavaScript enabled to view this video.
      </div>

      <script type="text/javascript">

          var params = { allowScriptAccess: "always" };
          var atts = { id: "myytplayer" };
          swfobject.embedSWF("http://www.youtube.com/v/huBCJewHfQ0?enablejsapi=1&playerapiid=myytapiplayer",
                  "ytapiplayer", "633", "370", "8", null, null, params, atts);

      </script>

      <div class="video-footer">
        <p class="title"><%= link_to @videoinfo.title, 'http://www.youtube.com/watch?v=KoFYm5iX0ZY' -%></p>
        <p class="dscr"><%= time_left @videoinfo.date -%></p>
        <p class="v-cnt"><%= @videoinfo.view_count -%> <small>просмотров</small></p>
      </div>
    </div>

    <div class="s-tovar">

      <h2 class='car-h'>Косметика из ролика</h2>
      <div id="liquid" class="liquid jcarousel-skin-tango">
        <div class="wrapper">
          <ul>
            <li>
              <img src="assets/AffConcealer-openClosed-II-HR.png" alt="image"/>
              <span class="title"><span>Тональный крем Affinitone</span></span>
            </li>
            <li>
              <img src="assets/DEY-1A523b_Product.png" alt="image"/>
              <span class="title"><span>Пудра Affinitone powder</span></span>
            </li>
            <li>
              <img src="assets/DEY-1A536c_Product.jpg" alt="image"/>
              <span class="title"><span>Маскирующее средство affinitone concealer</span></span>
            </li>
            <li>
              <img src="assets/MB_Affinitone_2A023b_Product-20.png" alt="image"/>
              <span class="title"><span>Тональный крем Affinitone</span></span>
            </li>
            <li>
              <img src="assets/Packs.jpg" alt="image"/>
              <span class="title"><span>Маскирующее средство affinitone concealer</span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bloc_right">
    <h3 class="koncurs">Конкурс!</h3>

      <div class="bloc_right_buton">
        <div class="buton_foto_uchasnic"><span>Фото участниц</span></div>
        <div class="buton_pravila"><span>Правила</span></div>
        <div class="buton_instrukcia"><span>Инструкция</span></div>
      </div>

      <!--Галерея учасниц-->
      <div class="foto_uchasnic">


      </div>




      <div class="pravila s-tab ">
        <span class="pra_inst_txt">Основные моменты в правилах:</span>
        <ul>
          <li>Используй только свои фотографии. В случае использования чужих фото, мы не сможем вознаградить тебя призом.</li>
          <li>Первый победитель определяется экспертами Мэйбеллин Нью Йорк. Еще 10 лучших фотографий определит первый победитель в течение 2 дней.</li>
          <li>Конкурс длится до 28.12.2012. До 31.12.2012 должны быть выбраны все 10 лучших фотографий</li>
          <li>Итоги конкурса будут объявлены на этой же странице в разделе с фотографиями участников.</li>
          <li>Не забывайте указывать действительный электронный адрес, чтобы мы могли связаться с вами для выдачи приза.</li>
          <li><a href="http://maybelline.uprock.pro/maybelline_rules.pdf" target="_blank">Полные правила конкурса</a> </li>
        </ul>
        <%= render partial: 'form' -%>
      </div>

      <div class="instrukcia s-tab ">
        <span class="pra_inst_txt">Как участвовать в конкурсе:</span>
            <ul>
              <li>Сделай фотографию на телефон или фотоаппарат.</li>
              <li>Выбери фото через Instagram;</li>
              <li>Приблизь и скадрируй фотографию так, чтобы глаза получились крупным планом.</li>
              <li>Выбери любой фильтр, какой нравится.</li>
              <li>Подпиши фотографию хештегом <span class="blu">#MYsatinblack</span> или <span class="blu">#MYcolortattoo</span></li>
              <li>Не забудь указать на сайте действительный E-mail, чтобы мы могли связаться с тобой.</li>
            </ul>
        <%= render partial: 'form' -%>
      </div>

  </div>

</div>