<div id="conteiner_bloc_frame">

  <div class="bloc_centr">
    <div class='s-video'>
      <div id="ytapiplayer">
        You need Flash player 8+ and JavaScript enabled to view this video.
      </div>

      <script type="text/javascript">

          var params = { allowScriptAccess: "always" };
          var atts = { id: "myytplayer" };
          swfobject.embedSWF("http://www.youtube.com/v/huBCJewHfQ0?enablejsapi=1&playerapiid=myytapiplayer",
                  "ytapiplayer", "633", "370", "8", null, null, params, atts);

      </script>

      <div class="video-footer">
        <p class="title"><%= link_to @videoinfo.title, 'http://www.youtube.com/watch?v=KoFYm5iX0ZY' -%></p>
        <p class="dscr"><%= time_left @videoinfo.date -%></p>
        <p class="v-cnt"><%= @videoinfo.view_count -%> <small>просмотров</small></p>
      </div>
    </div>

    <div class="s-tovar">

      <h2 class='car-h'>Косметика из ролика</h2>
      <div id="liquid" class="liquid jcarousel-skin-tango">
        <div class="wrapper">
          <ul>
            <li>
              <img src="assets/AffConcealer-openClosed-II-HR.png" width="101" height="145" alt="image"/>
              <span class="title"><span>Тональный крем Affinitone</span></span>
            </li>
            <li>
              <img src="assets/DEY-1A523b_Product.png" width="101" height="145" alt="image"/>
              <span class="title"><span>Пудра Affinitone powder</span></span>
            </li>
            <li>
              <img src="assets/DEY-1A536c_Product.jpg" width="101" height="145" alt="image"/>
              <span class="title"><span>Маскирующее средство affinitone concealer</span></span>
            </li>
            <li>
              <img src="assets/MB_Affinitone_2A023b_Product-20.png" width="101" height="145" alt="image"/>
              <span class="title"><span>Тональный крем Affinitone</span></span>
            </li>
            <li>
              <img src="assets/Packs.jpg" width="101" height="145" alt="image"/>
              <span class="title"><span>Маскирующее средство affinitone concealer</span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bloc_right">
    <h3 class="koncurs">Конкурс!</h1>

      <div class="bloc_right_buton">
        <div class="buton_foto_uchasnic"><span>Фото участниц</span></div>
        <div class="buton_pravila"><span>Правила</span></div>
        <div class="buton_instrukcia"><span>Инструкция</span></div>
      </div>

      <!--Галерея учасниц-->
      <div class="foto_uchasnic">


      </div>




      <div class="pravila s-tab ">
        <span class="pra_inst_txt">Основные моменты в правилах:</span><br /><p></p>

        1.Фотография должна быть пользовательской. Вслучае использования чужих фото, вы выбываете из конкурса.<br /><p></p>
        2.Первый победитель определяется экспертами Мейбиллин НьюЙорк. Еще 10 победителей определит первый победитель.<br /><p></p>
        3.Конкурс длится до ? числа (необходимо понять когда заканчивается конкурс и когда/где выдаются призы.)<br /><p></p>
        4.Итоги конкурса будут оглашены на этой же странице и в нашей группе Facebook<br /><p></p>
        5. Чтобы мы могли связаться с тобой, оставь нам свой никнейм в инстаграме и E-mail
        <%= render partial: 'form' -%>
      </div>

      <div class="instrukcia s-tab ">
        <span class="pra_inst_txt">Как участвовать в конкурсе:</span><br /><p></p>

        1.Сделай фотографию на телефон или фотоапарат. Показываем фотографию лица с иконкой фотоаппарата;<br /><p></p>
        2.Выбери фото через инстаграм;<br /><p></p>
        3.Приблизь фотографию так, чтобы глаза получились максимально близко. Показываем картинку, где фотография увеличена так, что только глаза вписываются в рамки;<br /><p></p>
        4.Выбери любой фильтр, какой нравится;<br /><p></p>
        5.Подпиши фотографию хештегом <span class="blu">#MYsatinblack</span> или <span class="blu">#MYcolortattoo</span>
        <br /><p></p>
        6. Чтобы мы могли связаться с тобой, оставь нам свой никнейм в инстаграме и E-mail
        <%= render partial: 'form' -%>
      </div>

  </div>

</div>